# Исполняемые файлы (бинарники)
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
my-project-name  # название вашего собранного приложения

# Локальные переменные окружения
.env

# Зависимости и инструменты
vendor/          # если не используете режим vendor
.idea/           # если работаете в GoLand
.vscode/         # если работаете в VS Code

